@import "tailwindcss";

@theme {
  --dark-background: #fff;
  --background: #EBEBEB;
  --light-background: #D1D1D1;
  --primary: #8000FF;
  --font: #000000;
}

/* Dark mode setup */
@custom-variant dark (&:where(.dark, .dark *));
@layer base {
  @variant dark {
    --dark-background: #000000;
    --background: #1F1F1F;
    --light-background: #333333;
    --primary: #8000FF;
    --font: #fff;
  }
}

#root {
  max-width: 100%;
  min-height: 100svh;
  @apply flex flex-row bg-gray-300 text-gray-950 dark:bg-gray-950 dark:text-gray-300;
}

main {
  @apply w-full h-full;
}

section {
  @apply h-[calc(100svh)];
}

@media screen and (max-width: 768px) {
  #root {
    @apply flex-col-reverse justify-between;
  }
  section {
    @apply h-[calc(100svh-96px)];
  }
}

h2 {
    @apply text-2xl font-semibold;
}
h3 {
    @apply text-xl font-semibold;
}