@import "tailwindcss";

@theme {
  --color-card: #fff;
  --color-background: #F5F6F6;
  --color-card-hover: #EAEBEB;

  --color-primary: #3F9FFA;
  --color-primary-start: #2290FF;
  --color-primary-end: #61B1F7;

  --color-font: #090606;
  --color-button-font: #FFFFFF;

  --color-border: hsl(210, 2%, 65%);

  --color-chat-ia: hsl(210, 2%, 85%);
  --color-chat-user: hsl(210, 90%, 85%);
}

/* Dark mode setup */
@custom-variant dark (&:where(.dark, .dark *));
@layer base {
  @variant dark {
    --color-card: #090909;
    --color-background: #161616;
    --color-card-hover: #37373A;

    --color-font: #FFFFFF;
    --color-button-font: #FFFFFF;

    --color-border: white;

    --color-chat-ia: hsl(210, 2%, 45%);
    --color-chat-user: hsl(210, 90%, 45%);

    .input-wrapper input {
      color-scheme: dark;
    }

  }
}

#root {
  max-width: 100%;
  min-height: 100svh;
  @apply flex flex-row bg-background text-font;
}

main {
  @apply w-full h-full;
}

section {
  @apply h-[calc(100svh)];
}

@media screen and (max-width: 768px) {
  #root {
    @apply flex-col-reverse justify-between;
  }
  section {
    @apply h-[calc(100svh-96px)];
  }
}

h2 {
    @apply text-2xl font-semibold;
}
h3 {
    @apply text-xl font-semibold;
}

.input-wrapper {
    @apply flex flex-col w-full;
}

.input-wrapper input {
    @apply bg-background rounded py-2 px-4;
}

.button {
    @apply rounded py-2 px-4 cursor-pointer text-button-font 
        bg-linear-to-b from-primary-start to-primary-end;
}


